section.file-nav-1
	ul.list-menu
		li
			a(href="") Tour du lịch
		li.active
			a(href="") Giải trí
		li
			a(href="") Combo - Best seller
		li
			a(href="") Hoạt động khác
	.category-page
		.title-header
			em.material-icons menu
			span Danh mục
		ul.list-menu-page
