section.main-section.page-gallery-image
    .container
        .wrap-title-main
            .main-title Hình ảnh
            .desc-title Mai Châu Hideaway Lake Resort là khu nghỉ dưỡng sinh thái duy nhất nằm ở lòng hồ Hòa Bình.
        .grid-container
            -for(i=0;i<7;i++)
                .grid-item
                    a(href="").img.zoom-img
                        img.lazyload(data-src="./img/gallery/3.png", alt="")
                    .inner mai châu hideaway 1