section.main-section.intro-4(setBackground="./img/bg-video-gallery.png")
    .container
        .wrap-title-main.white
            .main-title Thời điểm du lịch đến Mai Châu
            .desc-title Nhìn chung, thung lũng Mai Châu có nền khí hậu lý tưởng, ôn hòa, mùa đông không quá lạnh, và mùa hè không quá nóng
        .wrap-box
            -for(i=0;i<4;i++)
                 .wrap-item
                    .title Tháng 11 – tháng 2
                    .content Thời tiết mát mẻ, dễ chịu, bạn có thể thỏa sức ngắm mùa hoa ban nở, cũng như tham gia vào mùa lễ hội đầu năm sôi động, hòa mình vào cuộc sống của đồng bào dân tộc thiểu số hiền hòa, hiếu khách.