section.main-section.intro-5.bg-2
    .swiper-intro-5
        .swiper-container
            .swiper-wrapper
                -for(i=0;i<5;i++)
                    .swiper-slide
                        .img
                            a(href="./img/uu-dai-ct/uudai-ct.png" data-fancybox)
                                img(data-src="./img/uu-dai-ct/uudai-ct.png" alt="" class="lazyload")
        .wrap-button
            .button-prev.button-sw-1
                em.lnr.lnr-arrow-left
            .button-next.button-sw-1
                em.lnr.lnr-arrow-right