section.home-2.main-section(setBackground="../img/home/h2-bg.png")
	.container
		.wrap-title-main
			.main-title Hệ thống phòng nghỉ
			.desc-title Đặc trưng văn hoá cộng đồng dân tộc
		.wrap-box-product-1
			.row
				-for(i=0;i<6;i++)
					.col-lg-4.col-sm-6
						a(href="").box-product.zoom-img
							.img
								img(data-src="./img/home/h2-1.png" alt="" class="lazyload")
							.wrap-title
								h2.title Deluxe Twin
								p.desc Phòng 2 giường đơn (DT: từ 31m2 đến 41m2)
							.stt 01

