section.page-lien-he.main-section
	.container
		.wrap-box-main
			.box-text
				.wrap-title-main
					.main-title Liên hệ
					.desc-title Quý khách vui lòng điền thông tin, chúng tôi sẽ phản hồi trong thời gian sớm nhất.
				.wrap-form
					.form-row
						.form-group
							label(for="") Họ và tên*
							input(type="text")
						.form-group
							label(for="") Email*
							input(type="text")
					.form-row
						.form-group
							label(for="") Số điện thoại*
							input(type="text")
						.form-group
							label(for="") Tiêu đề*
							input(type="text")
					.form-group
						label(for="") Nội dung
						textarea(name="" cols="30" rows="10")
					.frm-btnwrap
						.frm-btn.button-readmore
							input(type="submit" value="Gửi")

			.img
				img(data-src="./img/img-lien-he.png" alt="" class="lazyload")
		.wrap-post-2
			.row
				.col-lg-6
					.box-post
						.img.zoom-img
							img(data-src="./img/lien-he/lh-2.png" alt="" class="lazyload")
						.box-content
							ul
								li
									em.material-icons place
									.text
										strong Mai Châu Hideaway Resort:
										span Suối Lớn village, Sơn Thủy , Mai Châu District, Hòa Bình
								li
									em.material-icons location_city
									.text
										strong Văn phòng Hà Nội:
										span 87 Hoàng Quốc Việt, Quận Cầu Giấy,Hà Nội
				.col-lg-6
					.box-post
						.img.zoom-img
							img(data-src="./img/lien-he/lh-2.png" alt="" class="lazyload")
						.box-content
							ul
								li
									em.material-icons notifications_active
									.text
										strong Đặt phòng:
										span + (84)0963406366 - 0987536787
								li
									em.material-icons phone
									.text
										strong Lễ Tân:
										span (+84).2186 288 899
								li
									em.material-icons mail
									.text
										strong Email:
										span sales@maichauhideaway.com

