section.main-section.page-service-tour
    .container
        .wrap-title-main
            .main-title Tour du lịch
            .desc-title Tận hưởng những kỳ nghỉ tuyệt vời trong không gian núi rừng Tây Bắc hùng vĩ
        .wrap-items
            -for(i=1;i<5;i++)
                .items
                    .box-img.zoom-img
                        a(href="")
                            img(src="./img/page-banner.png" alt="")
                    .box-content
                        .title Hà Nội – Ninh Binh - Mai Châu Hideaway 3 ngày 2 đêm
                        .desc Mai Châu Hideaway Lake Resort mang lại một trải nghiệm hoàn toàn khác biệt cho du khách giữa khung cảnh hùng vĩ, đồi núi trập trùng nơi núi rừng Tây Bắc.
                        a(href="").button-readmore Xem thêm