section.home-6.main-section(setBackground="./img/home/bg-home-6.png")
	.container
		.row
			.col-lg-6
				.wrap-title-main
					.main-title Tour du lịch
					.desc-title Khám phá ngay!
				.box-post-tin.post-1
					.swiper-container
						.swiper-wrapper
							-for(i=0;i<5;i++)
								.swiper-slide
									.img
										a(href="")
											img(src="./img/home/h6-1.png" alt="")
									.box-content
										.title Nhà hàng Mai Châu Hideaway
										.desc Với tâm niệm mang đến không gian ẩm thực ấn tượng đậm chất văn hóa Việt Nam, chúng tôi đã kiến tạo nên nhà hàng Bamboo với chất liệu tre và gỗ thân thiện với thiên nhiên
										.wrap-button
											.button-prev-2
												em.lnr.lnr-chevron-left
											.button-next-2
												em.lnr.lnr-chevron-right
			.col-lg-6
				.wrap-title-main
					.main-title Tour du lịch
					.desc-title Khám phá ngay!
				.box-post-tin.post-2
					.swiper-container
						.swiper-wrapper
							-for(i=0;i<5;i++)
								.swiper-slide
									.img
										a(href="")
											img(src="./img/home/h6-1.png" alt="")
									.box-content
										.title Nhà hàng Mai Châu Hideaway
										.desc Với tâm niệm mang đến không gian ẩm thực ấn tượng đậm chất văn hóa Việt Nam, chúng tôi đã kiến tạo nên nhà hàng Bamboo với chất liệu tre và gỗ thân thiện với thiên nhiên
										.wrap-button
											.button-prev-2
												em.lnr.lnr-chevron-left
											.button-next-2
												em.lnr.lnr-chevron-right