section.main-section.page-news-detail.bg-primary
    .container
        .wrap-info
            .wrap-header
                .title Nhân viên lễ tân
                .box-option
                    .date Ngày đăng: 07.12.2020
                    .share 
                        span Chia sẻ
                        a(href="")
                            em.fab.fa-facebook-f
                        a(href="")
                            em.fab.fa-twitter
            .content
                h2 Đến Mai Châu vào tháng 6, du khách có thể đi bộ giữa những vạt lúa óng vàng, ngồi trên chiếc xe chở đầy thóc len vào thôn bản.
                img(src="./img/tuyen-dung/2.png", alt="")
                p Mùa lúa chiêm, Mai Châu đẹp mơ màng với những cánh đồng lúa bao la chuyển sắc vàng. Ruộng bậc thang với đủ cung màu từ xanh đậm tới vàng mơ như dải lụa đào, khiến người đi mòn gót chân vẫn không thấy mỏi, ngắm mãi chưa biết chán. Thung lũng còn lôi cuốn du khách bởi vẻ đẹp yên bình đến say lòng của những ngôi nhà sàn nhỏ xinh hay cô gái Thái duyên dáng bên khung cửi. 
                p Tháng 5 và 6 là thời điểm lý tưởng để du khách đến ngắm Mai Châu mùa lúa chín. Nắng mới chiếu rọi khắp thung lũng, lúa phủ khắp sườn đồi, tràn xuống thung lũng, bao quanh các bản làng... Đâu đâu cũng tràn đầy nhựa sống, báo hiệu cho một mùa màng bội thu sắp đến.
                img(src="./img/tuyen-dung/2.png", alt="")
                p Mùa lúa chiêm, Mai Châu đẹp mơ màng với những cánh đồng lúa bao la chuyển sắc vàng. Ruộng bậc thang với đủ cung màu từ xanh đậm tới vàng mơ như dải lụa đào, khiến người đi mòn gót chân vẫn không thấy mỏi, ngắm mãi chưa biết chán. Thung lũng còn lôi cuốn du khách bởi vẻ đẹp yên bình đến say lòng của những ngôi nhà sàn nhỏ xinh hay cô gái Thái duyên dáng bên khung cửi. 
                p Tháng 5 và 6 là thời điểm lý tưởng để du khách đến ngắm Mai Châu mùa lúa chín. Nắng mới chiếu rọi khắp thung lũng, lúa phủ khắp sườn đồi, tràn xuống thung lũng, bao quanh các bản làng... Đâu đâu cũng tràn đầy nhựa sống, báo hiệu cho một mùa màng bội thu sắp đến. 
                p Để chiêm ngưỡng vẻ đẹp của đồng lúa, ngắm người nông dân làm đồng, cảm nhận trọn vẹn mùi hương của núi rừng Tây Bắc, du khách có thể nghỉ tại Mai Châu Ecolodge. Ngoài tầm nhìn bao quát, nơi đây còn thiết kế nhiều căn nhà gỗ sáng tạo, gần gũi với thiên nhiên. Chỉ cần mở cửa phòng ra là có thể hít hà hương lúa thơm nồng xung quanh.
                img(src="./img/tuyen-dung/2.png", alt="")
                p Mùa lúa chiêm, Mai Châu đẹp mơ màng với những cánh đồng lúa bao la chuyển sắc vàng. Ruộng bậc thang với đủ cung màu từ xanh đậm tới vàng mơ như dải lụa đào, khiến người đi mòn gót chân vẫn không thấy mỏi, ngắm mãi chưa biết chán. Thung lũng còn lôi cuốn du khách bởi vẻ đẹp yên bình đến say lòng của những ngôi nhà sàn nhỏ xinh hay cô gái Thái duyên dáng bên khung cửi. 
                p Tháng 5 và 6 là thời điểm lý tưởng để du khách đến ngắm Mai Châu mùa lúa chín. Nắng mới chiếu rọi khắp thung lũng, lúa phủ khắp sườn đồi, tràn xuống thung lũng, bao quanh các bản làng... Đâu đâu cũng tràn đầy nhựa sống, báo hiệu cho một mùa màng bội thu sắp đến.
section.other-news.section-post-list.main-section(setBackground="./img/bg-tintuc.png")
    .container
        .block-title Tin tức khác
        .wrap-post-list.swiper-other-news
            .swiper-container
                .swiper-wrapper
                    -for(i=0;i<5;i++)
                        .swiper-slide
                            .box-tin
                                .img.zoom-img
                                    a(href="")
                                        img(data-src="./img/home/h4-1.png" alt="" class="lazyload")
                                .wrap-content
                                    a(href="").title Mai Châu Hideaway – thiên đường xanh giữa lòng hồ Hòa Bình
                                    .date 07.12.2020
            .wrap-button
                .button-prev.button-sw-1
                    em.lnr.lnr-arrow-left
                .button-next.button-sw-1
                    em.lnr.lnr-arrow-right