section.page-hoat-dong-khac-main.tien-ich-page-main.small-section
	.container
		.wrap-title-main
			.main-title Tiện ích
			.desc-title Đến với mai Châu, quý khách sẽ cảm nhận được sự tự do, yên tĩnh và thư giãn nhờ mảng xanh rộng lớn.
		.wrap-box-item-hd
			.img.zoom-img
				a(href="")
					img(data-src="./img/img-hd-khac.png" alt="" class="lazyload")
			.box-content
				.icon
					img(data-src="./img/icon/ban.png" alt="" class="lazyload")
				.title Nhà hàng
				.desc Nổi tiếng với phong cảnh thiên nhiên thơ mộng, hữu tình, Mai Châu không chỉ là thiên đường du lịch mà còn là điểm dừng chân vô cùng lý tưởng cho những bức ảnh cưới vô cùng ngọt ngào.
				a(href="").button-readmore Xem thêm
		.wrap-box-item-hd
			.img.zoom-img
				a(href="")
					img(data-src="./img/img-hd-khac.png" alt="" class="lazyload")
			.box-content
				.icon
					img(data-src="./img/icon/hoboi.png" alt="" class="lazyload")
				.title Hồ bơi
				.desc Nổi tiếng với phong cảnh thiên nhiên thơ mộng, hữu tình, Mai Châu không chỉ là thiên đường du lịch mà còn là điểm dừng chân vô cùng lý tưởng cho những bức ảnh cưới vô cùng ngọt ngào.
				a(href="").button-readmore Xem thêm
		.wrap-box-item-hd
			.img.zoom-img
				a(href="")
					img(data-src="./img/img-hd-khac.png" alt="" class="lazyload")
			.box-content
				.icon
					img(data-src="./img/icon/spa.png" alt="" class="lazyload")
				.title Spa
				.desc Nổi tiếng với phong cảnh thiên nhiên thơ mộng, hữu tình, Mai Châu không chỉ là thiên đường du lịch mà còn là điểm dừng chân vô cùng lý tưởng cho những bức ảnh cưới vô cùng ngọt ngào.
				a(href="").button-readmore Xem thêm
		.wrap-box-item-hd
			.img.zoom-img
				a(href="")
					img(data-src="./img/img-hd-khac.png" alt="" class="lazyload")
			.box-content
				.icon
					img(data-src="./img/icon/ruou-icon.png" alt="" class="lazyload")
				.title Điểm check in - Selfie
				.desc Nổi tiếng với phong cảnh thiên nhiên thơ mộng, hữu tình, Mai Châu không chỉ là thiên đường du lịch mà còn là điểm dừng chân vô cùng lý tưởng cho những bức ảnh cưới vô cùng ngọt ngào.
				a(href="").button-readmore Xem thêm
		.wrap-box-item-hd
			.img.zoom-img
				a(href="")
					img(data-src="./img/img-hd-khac.png" alt="" class="lazyload")
			.box-content
				.icon
					img(data-src="./img/icon/ruou-icon.png" alt="" class="lazyload")
				.title Khu vui chơi trẻ em
				.desc Nổi tiếng với phong cảnh thiên nhiên thơ mộng, hữu tình, Mai Châu không chỉ là thiên đường du lịch mà còn là điểm dừng chân vô cùng lý tưởng cho những bức ảnh cưới vô cùng ngọt ngào.
				a(href="").button-readmore Xem thêm