<?xml version="1.0" encoding="utf-8" ?>
<templates>
	<newstype name="Tin tức" value="0"></newstype>
	<!--<showoption name="Icon new" value="1"></showoption>-->
	<templatelist xsltname="NewsListImages.xslt" name="Danh sách hình ảnh"></templatelist>
	<templatelist xsltname="NewsListVideo.xslt" name="Danh sách video"></templatelist>
	<templatelist xsltname="NewsListContact.xslt" name="Danh sách liên hệ"></templatelist>
	<templatelist xsltname="NewsList.xslt" name="Danh sách tin tức"></templatelist>
	<templatelist xsltname="NewsListRecruitment.xslt" name="Danh sách tuyển dụng"></templatelist>
	<templatelist xsltname="TinTucDS.xslt" name="Danh sách tin tức"></templatelist>
	<templatelist xsltname="NewsListGalleryAbout.xslt" name="Danh sách hình ảnh giới thiệu"></templatelist>

	<templatedetail xsltname="TrucTiepCoTieuDe.xslt" name="Tin trực tiếp có tiêu đề"></templatedetail>
	<templatedetail xsltname="TrucTiepKhongTieuDe.xslt" name="Tin trực tiếp không tiêu đề"></templatedetail>
	<templatedetail xsltname="NewsRecruitmentDetail.xslt" name="Chi tiết tuyển dụng"></templatedetail>
	<templatedetail xsltname="HuongDanCT.xslt" name="Chi tiết hướng dẫn"></templatedetail>
	<templatedetail xsltname="NewsDetail.xslt" name="Chi tiết tin tức"></templatedetail>
	
	<position>
		<add name="Trang chủ" value="1" resourcefile="" />
		<add name="Trang trong" value="2" resourcefile="" />
		<add name="Trang chủ - Giới thiệu" value="4" resourcefile="" />
	</position>
</templates>
