section.dich-vu-page.giai-tri.main-section
	.container
		.wrap-title-main
			.main-title Giải trí
			.desc-title Tận hưởng những kỳ nghỉ tuyệt vời trong không gian núi rừng Tây Bắc hùng vĩ
		.wrap-items
			-for(i=1;i<5;i++)
				.items
					.box-img.zoom-img
						a(href="")
							img(src="./img/page-banner.png" alt="")
					.box-content
						.icon
							img(src="./img/dvgt-1/gt-"+i+".png" alt="")
						.title Chèo thuyền Kayaking
						.desc Mai Châu Hideaway Lake Resort mang lại một trải nghiệm hoàn toàn khác biệt cho du khách giữa khung cảnh hùng vĩ, đồi núi trập trùng nơi núi rừng Tây Bắc.
						a(href="").button-readmore Xem thêm