section.main-section.page-restaurant-utilities.bg-primary
    .container
        .wrap-title-main
            .main-title Nhà hàng
            .desc-title Đến với mai Châu, quý khách sẽ cảm nhận được sự tự do, yên tĩnh và thư giãn nhờ mảng xanh rộng lớn.
        .row
            -for(i=0;i<2;i++)
                .col-md-6.col-sm-12
                    .item
                        a(href="").img.zoom-img
                            img.lazyload(data-src="./img/tien-ich/1.png", alt="")
                        a(href="").inner-title Nhà hàng Mai Châu Hideaway
                    .item-content Nhằm mang đến không gian ấn tượng về văn hóa Việt Nam, chúng tôi đã sử dụng tre và gỗ để tạo ra nhà hàng này. Cầu thang tre xoắn kết nối khu vực lễ tân là điểm nổi bật nhất.
section.main-section.page-restaurant-utilities.bg-2
    .container
        .row
            -for(i=0;i<2;i++)
                .col-md-6.col-sm-12
                    .item
                        a(href="").img.zoom-img
                            img.lazyload(data-src="./img/tien-ich/1.png", alt="")
                        a(href="").inner-title Nhà hàng Mai Châu Hideaway
                    .item-content Nhằm mang đến không gian ấn tượng về văn hóa Việt Nam, chúng tôi đã sử dụng tre và gỗ để tạo ra nhà hàng này. Cầu thang tre xoắn kết nối khu vực lễ tân là điểm nổi bật nhất.