section.home-2.main-section(setBackground="./img/phong/background-phong.png")
	.container
		.wrap-title-main
			.main-title Hệ thống phòng nghỉ
			.desc-title Đặc trưng văn hoá cộng đồng dân tộc
		.wrap-box-product-1
			.row
				-for(i=0;i<6;i++)
					.col-lg-4.col-sm-6
						.box-product.zoom-img
							.img
								a(href="")
									img(data-src="./img/home/h2-1.png" alt="" class="lazyload")
							.wrap-title
								h2.title
									a(href="") 	Deluxe Twin
								p.desc Phòng 2 giường đơn (DT: từ 31m2 đến 41m2)
							.stt 01
		ul.pagination
			li.active
				a(href="") 1
			li
				a(href="") 2
			li
				a(href="") 3
section.home-5.video-gallery.main-section(setBackground="./img/bg-video-gallery.png")
	.container
		.row
			.col-lg-6
				.box-content
					.wrap-title-main.white
						.main-title Virtual tour & Gallery
						.desc-title Mai Châu Hideaway Lake Resort giúp du khách tự do bung xõa ở điểm hẹn “đi trốn” giữa dòng Đà Giang.
						.desc Đến với chúng tôi, bạn có thể cảm nhận được sự tự do, yên tĩnh và thư giãn nhờ mảng xanh rộng lớn – đó là sắc xanh của thiên nhiên mở với hồ, cây và không gian của núi rừng.
			.col-lg-6
				.img-video
					.img
						a(href="./img/h6-img.png" data-fancybox="image")
							img(data-src="./img/h6-img.png" alt="" class="lazyload")
					.icon-video
						img(data-src="./img/icon/camera-icon.png" alt="" class="lazyload")