.section.main-section.page-recruit-detail.bg-primary
    .container
        .row
            .col-lg-9.col-md-12
                .wrap-info
                    .wrap-header
                        .title Nhân viên lễ tân
                        .box-option
                            .date Ngày đăng: 07.12.2020
                            .share 
                                span Chia sẻ
                                a(href="")
                                    em.fab.fa-facebook-f
                                a(href="")
                                    em.fab.fa-twitter
                    .wrap-body
                        .img
                            img.lazyload(data-src="./img/tuyen-dung/1.png", alt="")
                        .wrap-table
                            table
                                tr
                                    td Số lượng tuyển
                                    td 02
                                tr
                                    td Địa điểm làm việc
                                    td Mai Chau Hideaway Resort
                                tr
                                    td Vị trí
                                    td Nhân viên chính thức
                                tr
                                    td Kinh nghiệm
                                    td Không yêu cầu
                                tr
                                    td Độ tuổi
                                    td Dưới 25 tuổi
                                tr
                                    td Mức lương
                                    td Trao đổi khi phỏng vấn
                                tr
                                    td Giao tiếp
                                    td Tiếng Anh cơ bản
                                tr
                                    td Hạn nộp
                                    td 30.11.2020
                .wrap-info
                    .wrap-header
                        .title Mô tả công việc
                    .wrap-content
                        ul
                            -for(i=0;i<8;i++)
                                li Chào hỏi và đón tiếp khách hàng, đối tác, giải đáp các vấn đề, thắc mắc của khách trực tiếp hoặc thông qua điện thoại.
                .wrap-info
                    .wrap-header
                        .title Quyền lợi
                    .wrap-content
                        ul
                            -for(i=0;i<8;i++)
                                li Chào hỏi và đón tiếp khách hàng, đối tác, giải đáp các vấn đề, thắc mắc của khách trực tiếp hoặc thông qua điện thoại.
                .wrap-info
                    .wrap-header
                        .title Cách thức tuyển dụng
                    .wrap-content
                        ul
                            -for(i=0;i<2;i++)
                                li Chào hỏi và đón tiếp khách hàng, đối tác, giải đáp các vấn đề, thắc mắc của khách trực tiếp hoặc thông qua điện thoại.
            .col-lg-3.col-md-12
                .wrap-related
                    -for(i=0;i<4;i++)
                        a(href="").related-item
                            .title Nhân viên bảo vệ
                            .address-time
                                .address
                                    em.material-icons location_on
                                    span Tp. Hồ Chí Minh
                                .time
                                    em.material-icons event_available
                                    span 10.01.2021
                            .price
                                em.material-icons attach_money
                                span 8 - 10 triệu VNĐ