section.home-5.main-section(setBackground="./img/bg-h5.png")
	.container
		.row
			.col-lg-6
				.box-content
					.wrap-title-main.white
						.main-title Virtual tour & Gallery
						.desc-title Mai Châu Hideaway Lake Resort giúp du khách tự do bung xõa ở điểm hẹn “đi trốn” giữa dòng Đà Giang.
			.col-lg-6
				.box-img-wrap
					.img-big
						a(data-fancybox="modal" data-src="#modal-360-new")
							.div-img-360(image-360="./img/360/MCH1_360.jpg")
							img(data-src="./img/h6-img.png" alt="" class="lazyload")
						#modal-360-new
							#tab1.image-360
						.icon-360
							img(data-src="./img/360-icon.png" alt="" class="lazyload")

					.wrap-small
						.img-small
							a(href="./img/h6-img.png" data-fancybox="image")
								img(data-src="./img/h6-img.png" alt="" class="lazyload")
							.icon-view
								img(data-src="./img/icon/eye.png" alt="" class="lazyload")
						.img-small
							a(href="./img/h6-img.png" data-fancybox="image")
								img(data-src="./img/h6-img.png" alt="" class="lazyload")
							.icon-view
								img(data-src="./img/icon/eye.png" alt="" class="lazyload")