extends ./_layout/_default

block var
	- var title = 'Source Build HTML'
	- var bodyClass = 'homepage'

block main
	include ../components/banner/homebanner.pug
	include ../components/home/home-1/index
	include ../components/home/home-2/index
	include ../components/home/home-3/index
	include ../components/home/home-4/index
	include ../components/home/home-6/index
	include ../components/home/home-5/index
	include ../components/home/home-7/index
