section.dich-vu-page.combo.main-section
	.container
		.wrap-title-main
			.main-title Combo - Best seller
			.desc-title Tận hưởng những kỳ nghỉ tuyệt vời trong không gian núi rừng Tây Bắc hùng vĩ
		.wrap-items
			-for(i=1;i<5;i++)
				.items
					.box-img.zoom-img
						a(href="")
							img(data-src="./img/page-banner.png" alt="" class="lazyload")
					.box-content
						.title Tour ghép 2 ngày 1 đêm: về miền thư thái – ngập tràn ưu
						.info-product-detail
							.title
								img(data-src="./img/icon/gift.png" alt="" class="lazyload")
								span ưu đãi
							ul.list-info
								li 01 đêm nghỉ tại Mai Châu Hideaway Lake Resort, phòng 2 người
								li Coupon giảm giá 10% đồ ăn tại nhà hàng
							.title
								img(data-src="./img/icon/date-icon.png" alt="" class="lazyload")
								span Thời Hạn
							.date 20.01.2020
						a(href="").button-readmore Xem thêm
section.home-5.video-gallery.main-section(setBackground="./img/bg-video-gallery.png")
	.container
		.row
			.col-lg-6
				.box-content
					.wrap-title-main.white
						.main-title Virtual tour & Gallery
						.desc-title Mai Châu Hideaway Lake Resort giúp du khách tự do bung xõa ở điểm hẹn “đi trốn” giữa dòng Đà Giang.
						.desc Đến với chúng tôi, bạn có thể cảm nhận được sự tự do, yên tĩnh và thư giãn nhờ mảng xanh rộng lớn – đó là sắc xanh của thiên nhiên mở với hồ, cây và không gian của núi rừng.
			.col-lg-6
				.img-video
					.img
						a(href="./img/h6-img.png" data-fancybox="image")
							img(data-src="./img/h6-img.png" alt="" class="lazyload")
					.icon-video
						img(data-src="./img/icon/camera-icon.png" alt="" class="lazyload")
