footer
	.footer-1
		a(href="") Chỉ đường đến Mai Chau Hideaway
		.choice
			img(src="./img/footer-img.png" alt="")
	.footer-2
		.container
			.row
				.col-lg-4
					.title-footer Mai Châu Hideaway Resort
					ul.list-footer
						li
							em.material-icons place
							span Suối Lớn village, Sơn Thủy , Mai Châu District, Hòa Bình
						li
							em.material-icons notifications_active
							span
								strong Đặt phòng:
								| + (84)0963406366 - 0987536787
						li
							em.material-icons phone
							span
								strong Lễ Tân:
								| (+84).2186 288 899
						li
							em.material-icons mail
							span
								strong Email:
								| sales@maichauhideaway.com
				.col-lg-4
					.title-footer Văn phòng Sales Marketing Hà Nội
					ul.list-footer
						li
							em.material-icons place
							span 87 Hoàng Quốc Việt, Quận Cầu Giấy,Hà Nội
						li
							em.material-icons phone
							span Điện thoại: + 84 .24 38 364 212
					.title-footer Văn phòng Đà Nẵng
					ul.list-footer
						li
							em.material-icons place
							span 87 Hoàng Quốc Việt, Quận Cầu Giấy,Hà Nội
						li
							em.material-icons phone
							span Điện thoại: + 84 .24 38 364 212
				.col-lg-4
					.title-footer Theo dõi bản tin
					.wrap-form
						input(type="text" placeholder="Địa chỉ email...")
						button(value="Gửi") Gửi
					.img
						img(src="./img/baocao.png" alt="")
	.footer-3
		.container
			.wrap-1
				ul
					li
						a(href="") Giới thiệu
					li
						a(href="") Phòng
					li
						a(href="") Tiện ích
					li
						a(href="") Sản phẩm - Dịch vụ
					li
						a(href="") Ưu đãi
					li
						a(href="") Kho ảnh
					li
						a(href="") Trải nghiệm & Tip
					li
						a(href="") Liên hệ
					li
						a(href="") Tải Brochure
			.wrap-link-social
				a(href="").icon
					img(src="./img/icon/facebook.png" alt="")
				a(href="").icon
					img(src="./img/icon/tw.png" alt="")
				a(href="").icon
					img(src="./img/icon/in.png" alt="")
				a(href="").icon
					img(src="./img/icon/youtube.png" alt="")
				a(href="").icon
					img(src="./img/icon/pinterest.png" alt="")
				a(href="").icon
					img(src="./img/icon/linkedin.png" alt="")
				a(href="").icon
					img(src="./img/icon/tiktok.png" alt="")
			.copyright-website
				| © 2020 Mai Chau Hideaway Resort.
				a(href="")  Quy định sử dụng |
				a(href="")  Sitemap
