section.main-section.intro-2.bg-2
    .container
        .wrap-title-main
            .main-title Vì sao chọn chúng tôi
            .desc-title Cùng khám phá 7 lý do lựa chọn Mai Châu Hideaway Lake Resort cho kỳ nghỉ hoàn mỹ của bạn
        .swiper-why-me
            .swiper-container
                .swiper-wrapper
                    -for(i=0;i<5;i++)
                        .swiper-slide
                            .item.zoom-img
                                a(href="").img
                                    img.lazyload(data-src="./img/gioi-thieu/1.png", alt="")
                                a(href="").text-inner Cảnh sắc lãng mạn giữa miền xanh
                                .stt 01
            .wrap-button
                .button-prev.button-sw-1
                    em.lnr.lnr-arrow-left
                .button-next.button-sw-1
                    em.lnr.lnr-arrow-right