<?xml version="1.0" encoding="utf-8" ?>
<templates>
  <position>
	<add name="Sản phẩm liên quan - giỏ hàng" value="10" resourcefile="" />
    <add name="Sản phẩm đã xem" value="0" resourcefile="" />
    <add name="Sản phẩm trang chủ - bán chạy" value="1" resourcefile="" />
  </position>
  
  <showoption name="Mới" value="1" class="promotion op1" />
  <showoption name="Khuyến mãi" value="2" class="promotion op2" />

  <templatelist xsltname="ProductList.xslt" name="Danh sách sản phẩm" />
  <templatelist xsltname="ProductListTour.xslt" name="Danh sách tour" />
  <templatelist xsltname="ProductListEntertainment.xslt" name="Danh sách giải trí" />
  <templatelist xsltname="ProductListCombo.xslt" name="Danh sách Combo - Best seller" />
  <templatelist xsltname="ProductListSale.xslt" name="Danh sách sản phẩm khuyến mãi" />
  <templatelist xsltname="ProductListRoom.xslt" name="Danh sách phòng" />
  <templatelist xsltname="ProductListUtilities.xslt" name="Danh sách tiện ích" />
  <templatelist xsltname="ProductListSale.xslt" name="Danh sách ưu đãi" />

  <templatedetail xsltname="ProductDetail.xslt" name="Chi tiết sản phẩm" />
  <templatedetail xsltname="ProductTourDetail.xslt" name="Chi tiết tour" />
  <templatedetail xsltname="ProductComboDetail.xslt" name="Chi tiết Combo - Best seller" />
  <templatedetail xsltname="ProductHDKDetail.xslt" name="Chi tiết Hoạt động khác" />
  <templatedetail xsltname="ProductRoomDetail.xslt" name="Chi tiết phòng" />
  <templatedetail xsltname="ProductUtilitiesDetail.xslt" name="Chi tiết tiện ích" />
  <templatedetail xsltname="ProductSaleDetail.xslt" name="Chi tiết ưu đãi" />
</templates>
