<?xml version="1.0" encoding="utf-8" ?>
<settings>
	<!--value bắt buộc phải là giá trị binary. Ví dụ: 1; 2; 4; 8; 16;...-->
	<position>
		<add name="Header - Menu trái" value="1" resourcefile="" />
		<add name="Header - Menu phải" value="2" resourcefile="" />
		<add name="Footer - Menu" value="4" resourcefile="" />
		<add name="Hệ thống phòng nghỉ" value="8" resourcefile="" />
		<add name="Tour du lịch" value="16" resourcefile="" />
		<add name="Tin tức" value="32" resourcefile="" />
		<add name="Tiện ích" value="64" resourcefile="" />
		<add name="Giải trí" value="128" resourcefile="" />
		<add name="Virtual tour - Gallery" value="256" resourcefile="" />
	</position>
</settings>
