section.home-5.video-gallery.main-section(setBackground="./img/bg-video-gallery.png")
	.container
		.row
			.col-lg-6
				.box-content
					.wrap-title-main.white
						.main-title Virtual tour & Gallery
						.desc-title Mai Châu Hideaway Lake Resort giúp du khách tự do bung xõa ở điểm hẹn “đi trốn” giữa dòng Đà Giang.
						.desc Đến với chúng tôi, bạn có thể cảm nhận được sự tự do, yên tĩnh và thư giãn nhờ mảng xanh rộng lớn – đó là sắc xanh của thiên nhiên mở với hồ, cây và không gian của núi rừng.
			.col-lg-6
				.img-video
					.img
						a(href="./img/h6-img.png" data-fancybox="image")
							img(data-src="./img/h6-img.png" alt="" class="lazyload")
					.icon-video
						img(data-src="./img/icon/camera-icon.png" alt="" class="lazyload")