section.home-1.main-section(setBackground="./img/sec-1.png")
	.container
		.row
			.col-xl-6
				.box-content
					.wrap-title-main
						.main-title Mai Châu Hideaway Resort
						.desc-title Tận hưởng những kỳ nghỉ tuyệt vời trong không gian núi rừng Tây Bắc hùng vĩ
					ul
						li Đến với chúng tôi, bạn có thể cảm nhận được sự tự do, yên tĩnh và thư giãn nhờ mảng xanh rộng lớn – đó là sắc xanh của thiên nhiên mở với hồ, cây và không gian của núi rừng.
						li “Mai Chau HideAway” được xây dựng dành cho người yêu thích thiên nhiên và với mong muốn giúp mỗi du khách có thể “khám phá”, “thư giãn “và” tận hưởng giây phút thanh bình tránh xa khỏi ồn ào nơi phố thi, những bộn bề lo toan của cuộc sống“.
					a(href="").button-readmore Xem thêm
			.col-xl-6
				.box-img
					img(data-src="./img/home/h1.png" alt="" class="lazyload")