header
	.top-bar
		.container
			.wrap-top-bar
				.wrap-left
					.phone
						em.material-icons.icons phone
						a(href="") 0963 406 366
						span -
						a(href="") 0987 536 787
				.center
				.wrap-right
					.list-menu
						.email
							em.material-icons.icons mail
							a(href="").link sales@maichauhideaway.com
						.change-lang
							span VN
							em.material-icons.icons keyboard_arrow_down
							.list-change-lang
								a(href="") EN
								a(href="") VN
						.search-box
							em.material-icons.icons search
							span Tìm kiếm
	.logo
		a(href="index.html")
			img(src="./img/mainlogo.png" alt="")
	.main-menu
		.main-menu-mobile
			ul.wrap-other
		.container
			.wrap-main-menu
				.wrap-left
					ul.list-menu
						li
							a(href="gioi-thieu.html") Giới thiệu
						li
							a(href="phong.html") Phòng
						li
							a(href="tien-ich.html") Tiện ích
						li
							a(href="dich-vu-giai-tri.html") Sản phẩm - Dịch vụ
							ul.dropdown-menu
								li
									a(href="") Tour du lịch
								li
									a(href="") Tour du lịch
								li
									a(href="") Tour du lịch
								li
									a(href="") Tour du lịch
						li
							a(href="uu-dai.html") Ưu đãi
					.hambuger
						span
						span
						span
						span
				.wrap-right
					ul.list-menu
						li
							a(href="kho-image.html") Kho ảnh
						li
							a(href="tin-tuc-ds.html") Trải nghiệm & Tip
						li
							a(href="lien-he.html") Liên hệ
					ul.l-search-box
					.btn-book
						a(href="")
							em.material-icons event
							| Đặt phòng
	.search-wrap
		.search-middle
			.close-btn X
			.wrap-button.searchbox
				input.form-control.search-t(type='text' placeholder='Tìm kiếm...')
				button.button-search
					em.material-icons search